* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.componentContainer {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
  justify-content: space-between;
}

.leftContainer {
  flex-grow: 2;
}
.rightContainer {
  flex-grow: 1;
}

.tabMain {
  margin: 20px;
}
