.componentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.leftContainer {
  flex-grow: 2;
}
.rightContainer {
  flex-grow: 1;
}

.tabMain {
  margin: 20px;
}




/* .childDashGlass {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFF;
}

.childDashFlexbox {
  display: flex;
  justify-content: space-between;
}

.prizeBinContain {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: flex-start;
  align-items: flex-end;
}
.prizeListContainer {
  padding-right: 5px;
  margin: 10px;
}

.segment{
  margin-left: 18px;
}

.childDashGoalsContain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.goalCompleteBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
} */