.header {
  /* padding-left: 10px; */
  width: 100%;
  /* border-bottom: 5px solid yellow; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-shrink: initial;
  align-items: center;
  text-transform: uppercase;
}

.headerGreet {
  color: #b17a14;
  flex-grow: 3;
  margin: 16px;
}
