.header {
  padding-left: 3%;
  padding-right: 6%;
  width: 100%;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
  display: flex;
  justify-content: space-between;
  flex-shrink: initial;
  align-items: center;
  text-transform: uppercase;
}

.headerGreet {
  color: #b17a14;
  flex-grow: 3;
  margin: 16px;
}
