*{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  padding-top: 0px;
  margin: 10px;
  width: 100px;
  height:100px;
  color: azure;
  background-color: rgb(37, 16, 81);
  border-radius: 50%;
  text-align: center;
  text-justify: center;
  font-size: 48pt;
}
