* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  letter-spacing: 1px;
}

h4 {
  margin-top: 30px;
  margin-left: 5px;
  text-transform: uppercase;
}

.balanceWrapper {
  margin-right: 15px;
  width: 100%;
  display: flex;
  align-items: left;
}
