/* .goalItemWrapper{
    text-align: justify;
    display: flex;
    width: 100%;
    padding: 10px;
    background: transparent;
    border-radius: 12px;
}

.goalCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.goalTitle{
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 5px;
    padding: 0;
    color:#000;
}
.flexColumn{
    display: flex;
    flex-direction: column;
    }

  
  .goalItemWrapper form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #0a9ff0;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
 .pointGoalAvatar:hover {
    background: #0a9ff0;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0a9ff0,
                0 0 25px #0a9ff0,
                0 0 50px #0a9ff0,
                0 0 100px #0a9ff0;
  }

  
  .pointGoalAvatar{
      text-align: center;
        padding-top: 2px;
      color: black;
      background-color: azure;
      /* border: 1px solid #0a9ff0;
      width: 35px;
      height: 35px;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }
  */
  /* div {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
  }
  .goalBtn {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 12px;
    padding: 4px;
    background-color:#eeeded;
    text-shadow: 1px 1px 0 #FFF;
    margin-top: 10px;
    margin-right: 8px;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  .goalBtn:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  } */




