.nav{
    display: flex;
    flex-direction: column;
}

.list{
    display: flex;
    justify-content: space-around;
    margin-left: 35%;
    width: 30%;
    list-style: none;
    
   
}

.logo{
    display: flex;
    justify-content: center;
}

