.prizeListWrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.prizeCard {
  border: 0;
  outline: 0;
  font-size: 9px;
  border-radius: 8px;
  padding: 4px;
  text-transform: uppercase;
  color: rgb(45, 1, 1);
  background-color: #eeeded;
  text-shadow: 1px 1px 0 #fff;
  margin-bottom: 6px;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

.prizeCard:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.prizeCard:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.pointPrizeAvatar {
  width: 50px;
  height: 50px;
  background-color: rgba(39, 20, 92, 0.801);
  color: #fff;
  border-radius: 50%;
  font-size: 16pt;
  text-align: center;
  text-justify: center;
}

.points {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 10px;
  color: rgb(45, 1, 1);
}
.addToCart {
  font-size: 8px;
  color: rgb(45, 1, 1);
  margin-bottom: 3px;
}

.buttonFlex {
  width: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prizeCardTitle {
  font-size: 12px;
  height: 30px;
  color: rgb(45, 1, 1);
}
